PINGONE_ENV_ID=
PINGONE_CLIENT_ID=
PINGONE_CLIENT_SECRET=
PINGONE_AUTH_PATH=https://auth.pingone.com
# Note: defaults are for North America. Change to .ca, .eu, or .asia for other regions.

PINGONE_REDIRECT_URI=http://localhost:3000/callback
PINGONE_SCOPES=openid profile email
