PINGONE_AUTH_PATH=https://auth.pingone.com
# Note: auth.pingone.com is for North America. Change to .ca, .eu, or .asia depending on region.

PINGONE_ENV_ID=
PINGONE_CLIENT_ID=
PINGONE_CLIENT_SECRET=

# The OIDC redirect URI configured on the PingOne web app.
# Must match the value sent in the authorize request and used in the token exchange.
PINGONE_REDIRECT_URI=http://localhost:3000/callback
